@import '../../assets/sass/variables';
.add-employee-wrapper{
  padding-top:100px ;
 margin: auto;
 display: flex;
 justify-content: center;
 align-items: center;
.add-employee-form{
  h2{
    margin: auto;
  }
  border: 1px solid $border-color;
  padding: 20px;
  border-radius: 8px ;
  box-shadow: 0 4px 4px 0 rgba(103, 103, 103, 0.2), 0 6px 6px 0 rgba(91, 91, 91, 0.19);
  width: 400px;
  margin: auto;
  .form-buttons{
    display: flex;
    justify-content: space-between;
    margin: 10px 0px;
    .cancel{
      background-color: $colorsecondary;
      color: $colorwhite;
    }
  }
  .ant-select-selector{
    padding: 10px;
  }
}
}