.calender-wrapper{
  height: 550px;
  margin-top: 20px;
}
.timezone-wrapper{

  .ant-col-12{
    margin-top: -75px;
    flex: end;
  }
}
.add_booking_buttons{
  display: flex;
  justify-content: space-between;
  .cancel{
    background-color: lightgray;
    color: black;
  }
}